In [1]:
from slau_methods import SlauSolver
import numpy as np
import pandas as pd

In [2]:
s = SlauSolver()
m = 4
s.eps = 1e-2

system1 = np.array([
    [1, 1, 1, 1, 2],
    [1, 2, 2, 2, 4],
    [2, 3, 4, 4, 7],
    [3, 4, 5, 6, 9]
])

system2 = np.array([
    [3, 1, -1, 1, 3*m],
    [1, -4, 1, -1, m-6],
    [-1, 1, 4, 1, 15-m],
    [1, 2, 1, -5, m+2]
])


start_point = np.array([0.7*m, 1, 2, 0.5])

## Обязательное задание

In [3]:
s.load_system(system1)

gauss_res = s.gauss()
rev_res = s.rev_matrix()

print(gauss_res)
print(rev_res)

[0. 1. 1. 0.]
[0. 1. 1. 0.]

In [4]:
s.load_system(system2)

zeid_res, zeid_iter = s.zeidel(start_point)

jac_res, jac_iter = s.jacobi(start_point)

data = {
    'Метод': ['Зейделя', 'Якоби'],
    'Решение': [", ".join(map(str, zeid_res)), ",".join(map(str, jac_res))],
    'Количество итераций': [zeid_iter, jac_iter],
    'Точность': [s.eps, s.eps]
}

In [5]:
df = pd.DataFrame(
    data = data
)

df

,Метод,Решение,Количество итераций,Точность
0,Зейделя,"3.999625, 2.00032, 2.99891, 0.999835",5,0.01
1,Якоби,"4,2,3,1",4,0.01